@media print {

  body{
    background:white;
  }

  button{
    display:none !important;
  }

  .no-print{
    display:none !important;
  }

  #invoice{
    width:100%;
    margin:0;
    box-shadow:none;
    border:none;
  }

}